html {
  > body {
    margin: 0;
    > .container {
      > .section1 {
        background-image: url("/assets/home/top.png");
        padding: 267px 417px 101px 416px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        > .section1_titleImage {
          margin: auto;
          display: block;
          margin-bottom: 26px;
        }
        > .section1_titleImage_mobile {
          display: none;
        }
        > .section1_description {
          font-family: Avenir;
          font-size: 18px;
          font-weight: 300;
          line-height: 27px;
          color: #ffffff;
          margin-bottom: 24px;
        }
        > .section1_button {
          font-family: Baskervville;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          color: #ffffff;
          padding: 24px 32px;
          border: solid 1px #ffffff;
        }
        > .section1_commentIcon {
          position: absolute;
          right: 0;
          bottom: 52px;
        }
      }
      > .section2 {
        padding: 93px 288px 73px;
        position: relative;
        > .section2_top {
          display: flex;
          width: fit-content;
          margin-bottom: 40px;
          > .section2_top_card {
            width: 285px;
            position: relative;
            margin-right: 80px;
            > .section2_top_card_image {
              background-image: url("/assets/home/section2/image.png");
              height: 321px;
              background-color: pink;
              background-repeat: no-repeat;
              background-position: bottom;
            }
            > .section2_top_card_content {
              display: flex;
              align-items: center;
              justify-content: space-around;
              padding: 20px 0;
              border: solid 0.5px #888888;
              background-color: white;
              > .section2_top_card_content_left {
                width: 117px;
                > p {
                  font-family: Avenir;
                  font-size: 14px;
                  font-weight: 300;
                  line-height: 18.2px;
                  color: #535353;
                }
              }
            }
            &::before {
              position: absolute;
              content: "";
              top: -20px;
              right: -20px;
              height: 398px;
              width: 285px;
              border: solid 1px #e3b6b1;
              z-index: -1;
            }
          }
          > .section2_top_content {
            width: 499px;
            > .section2_top_content_svg {
              margin-bottom: 24px;
            }
            > .section2_top_content_title {
              font-family: Baskervville;
              font-size: 48px;
              font-weight: 400;
              line-height: 62.4px;
            }
            > .section2_top_content_description {
              font-family: Avenir;
              font-size: 18px;
              font-weight: 300;
              line-height: 27px;
              color: #535353;
              margin-bottom: 24px;
            }
            > .section2_top_content_bottom {
              display: flex;
              justify-content: space-between;
              > .section2_top_content_bottom_button {
                font-family: Baskervville;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                color: #644f4e;
                border: solid 1px #644f4e;
                padding: 24px 35px;
              }
            }
          }
        }
        > .section2_bottom {
          > .section2_bottom_header {
            display: flex;
            align-items: center;
            > h3 {
              text-align: center;
              font-family: Avenir;
              font-size: 18px;
              font-weight: 300;
              line-height: 27px;
              color: #535353;
              margin: 0 10px;
            }
            > hr {
              flex-grow: 1;
              height: 0.5px;
            }
          }

          > .brand-icons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 904.5px;
            height: 177px;
            margin: 0 auto;
            flex-wrap: wrap;
            > .brand-icon {
              width: 25%;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                filter: invert(34%) sepia(0%) saturate(1487%) hue-rotate(136deg)
                  brightness(91%) contrast(91%);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  html {
    width: 100%;
    > body {
      > .container {
        > .section1 {
          padding: 314.5px 32px 116.5px 33px;
          background-position: center;
          > .section1_titleImage {
            display: none;
          }
          > .section1_titleImage_mobile {
            display: block;
          }
          > .section1_description {
            font-family: Avenir;
            font-size: 16px;
            font-weight: 300;
            line-height: 25.6px;
          }
          > .section1_button {
            font-size: 18px;
            line-height: 18px;
          }
          > .section1_commentIcon {
            bottom: 0;
          }
        }
      }
    }
  }
}

p {
  margin: 0;
}

button {
  // reset button styles
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}
