html {
  > body {
    margin: 0;
    .container {
      padding: 107px 208px;
      background-color: #fae9e7;
      .card {
        display: flex;
        justify-content: center;
        position: relative;
        > img {
          width: 320px;
          height: 380px;
          object-fit: contain;
        }
        > .content {
          margin-left: 40px;
          > .title {
            font-family: "Baskervville";
            font-weight: 400;
            font-size: 40px;
            line-height: 40px;
            color: #725a58;
            margin-bottom: 24px;
          }
          > .price_time {
            display: flex;
            margin-bottom: 24px;
            > .price,
            .time {
              display: flex;
              align-items: center;
              white-space: nowrap;
              margin-right: 24px;
              > .dollarIcon,
              .timeIcon {
                display: block;
                margin-right: 4.5px;
              }
              > span {
                font-family: "Avenir";
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
                color: #191919;
              }
            }
          }
          > .subTitle {
            font-family: "Baskervville";
            font-weight: 400;
            font-size: 24px;
            line-height: 31.2px;
            color: #191919;
            margin-bottom: 24px;
          }
          > .description {
            font-family: "Avenir";
            font-weight: 300;
            font-size: 18px;
            line-height: 27px;
            color: #191919;
            margin-bottom: 24px;
          }
          > .button {
            // reset button styles
            border-radius: 0;
            text-align: inherit;
            background: none;
            box-shadow: none;
            padding: 0;
            cursor: pointer;
            border: none;
            color: inherit;
            font: inherit;
            // add custom styles
            padding: 24px 32px;
            font-family: Baskervville;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            border: solid #5e4a49 1px;
          }
        }
        > .commentsIcon {
          position: absolute;
          top: 50px;
          right: -210px;
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
  html {
    width: 100%;
    > body {
      > .container {
        padding: 0;
        > .card {
          display: block;
          > .commentsIcon {
            display: none;
          }
          > img {
            margin-bottom: 24px;
            width: 100%;
            object-fit: cover;
          }
          > .content {
            margin-left: 0;
            padding: 0 19px;
            > .title {
              margin-bottom: 16px;
            }
            > .price_time {
              display: block;
              > .price {
                margin-bottom: 12px;
              }
            }
            > .button {
              width: 100%;
              text-align: center;
              padding: 20px 0;
            }
          }
        }
      }
    }
  }
}

p {
  margin: 0;
}
